<script>App.controller('TopLevelNav', function($scope, $location) {
  $scope.isActive = function(name) {
    var path = window.location.pathname;
    if (path.lastIndexOf('/') === path.length - 1) {
      path = path.substring(0, path.length - 1);
    }
    path = path.substring(path.lastIndexOf('/'));
    return path.indexOf(name) !== -1;
  }
})
</script><style>.top-level-nav {
  z-index: 10000;
}
body {
  padding-top: 45px;
}
.sidebar {
  top: 45px;
}
.sidebar-button.sidebar-button-fixed {
  top: 45px;
}
</style><nav ng-controller="TopLevelNav" class="navbar navbar-default top-level-nav navbar-fixed-top"><div class="container-fluid"><div class="navbar-header"><a id="NavbarTitle" href=".." target="_parent" class="navbar-brand"><span>API Portal</span></a><a data-toggle="collapse" data-target="#NavbarCollapse" class="navbar-toggle collapsed"><i class="fa fa-bars"></i></a></div><div id="NavbarCollapse" class="collapse navbar-collapse"><ul class="nav navbar-nav navbar-right"><li ng-class="{active: isActive('documentation')}"><a href="{{ getLink('documentation') }}" target="_parent" class="text-capitalize">documentation</a></li><li ng-class="{active: isActive('console')}"><a href="{{ getLink('console') }}" target="_parent" class="text-capitalize">console</a></li></ul></div></div></nav>