.col-xs-12.list-view-item.link-fill-parent(ng-class="{'list-view-item-first': $index === 0}")
  +apilink
  .row
    .col-sm-2.text-center
      img.api-list-logo(ng-src="{{ getLogo(api) }}", style="background-color: {{ getBackgroundColor() }}")
    .col-sm-4.list-view-title
      span {{ api.info.title || api.provider || 'Untitled' }}
    .col-sm-6.list-view-description(ng-if="!showDisabled")
      span {{ truncate(api.info['x-summary'], 200) || 'No description' }}
    .col-sm-6.list-view-description(ng-if="showDisabled")
      +disabled-message
