.col-xs-12.col-sm-6.col-lg-4
  .panel
    .panel-heading.link-fill-parent
      +apilink
      .panel-title {{ api.info.title || api.provider || 'Untitled' }}
    .panel-body.link-fill-parent
      +apilink
      p.text-center.panel-body-logo
        img.api-logo(ng-src="{{ getLogo(api) }}", style="background-color: {{ getBackgroundColor() }}")
      p.panel-body-description(ng-if="!showDisabled")
          i(ng-if="!api.info.description") No description
          span {{ truncate(api.info.description, 88) }}
      .panel-body-description(ng-if="showDisabled")
        +disabled-message
