link(rel="stylesheet" href="/less/styles.css")
link(rel="stylesheet", href="/bower/highlightjs/styles/github.css")
link(rel="stylesheet" href="/bower/fontawesome/css/font-awesome.min.css")
link(rel="stylesheet" href="/bower/highlightjs/styles/atelier-forest.light.css")

script(src="/js/mixpanel.js")
if !enableMixpanel
  script.
    mixpanel.register({"$ignore":true});

script(src="/bower/jquery/dist/jquery.min.js")
script(src="/bower/bootstrap/dist/js/bootstrap.min.js")
script(src="/bower/angular/angular.min.js")
script(src="/bower/highlightjs/highlight.pack.js")
script(src="/bower/zeroclipboard/dist/ZeroClipboard.min.js")
script(src="/js/lucy.js")

each i in angularImports
  script(src="#{i.file}")

script.
  var angularImports = !{JSON.stringify(angularImports.map(function(i) {return i.name}))};
  var App = angular.module('App', angularImports)
  App.config(['markedProvider', function(markedProvider) {
    markedProvider.setOptions({
      gfm: true,
      highlight: function (code) {
        return hljs.highlightAuto(code).value;
      }
    });
    markedProvider.setRenderer({
      link: function(href, title, text) {
        return '<a href="' + href + '"' + ' target="_blank">' + text + '</a>';
      }
    });
  }]);
  App.config(['uiZeroclipConfigProvider', function(uiZeroclipConfigProvider) {
    uiZeroclipConfigProvider.setZcConf({
      swfPath: '/bower/zeroclipboard/dist/ZeroClipboard.swf'
    });
  }])
  App.controller('Body', function($scope) {});

link(rel="stylesheet" href="/css/#{page}.css")
script(src="/js/ng/#{page}.js")
