.col-xs-12
  h4.text-regular
    span.pull-left
      i.fa.hide-button(ng-class="{'fa-plus-square-o': hidden, 'fa-minus-square-o': !hidden}" ng-click="hidden = !hidden")
      span Credentials
    a.btn.btn-success.pull-right(ng-show="startOAuth" ng-click="startOAuth()")
      i.fa.fa-lock
      span &nbsp;
      span Authorize
    .clearfix
  #KeyInputs(ng-show="!hidden")
    .key.form-group(ng-repeat="input in keyInputs")
      label {{ input.label || input.name }}
      input.input-sm.form-control(type="text", ng-model="keys[input.name]", ng-change="keyChanged()")
    .form-group
      input(type="checkbox" ng-model="checks.saveKeys" ng-change="saveChanged()")
      label &nbsp;&nbsp;Remember Keys

