.col-xs-12
  h3.text-regular
    span.pull-left Credentials
    a.btn.btn-success.pull-right(ng-show="startOAuth" ng-click="startOAuth()")
      i.fa.fa-lock
      span &nbsp;
      span Authorize
    .clearfix
  #KeyInputs
    .key.form-group(ng-repeat="input in keyInputs")
      label {{ input.label || input.name }}
      input.input-sm.form-control(type="text", ng-model="keys[input.name]", ng-change="keyChanged()")
    .form-group
      input(type="checkbox" ng-model="checks.saveKeys" ng-change="saveChanged()")
      label &nbsp;&nbsp;Remember Keys

