.col-xs-12
  .panel.panel-warning
    .panel-heading(data-toggle="collapse"
                   data-target="#ParameterInputs")
      h4.panel-title.text-regular
        i.collapse-icon.fa.fa-plus-square-o &nbsp;&nbsp;
        span Parameters
    #ParameterInputs.panel-collapse.collapse.in
      .panel-body
        div(ng-repeat="parameter in activeRoute.route.parameters")
          include ./input.jade
