if specURL.indexOf('any-api.com/models') !== -1
  a(target="_blank"
    href="#{specURL.replace('any-api.com/models', 'apis-guru.github.io/api-models')}/swagger.json")
    span Source: [Swagger {{ spec.swagger }}]
else
  a(href="#{specURL}" target="_blank")
    span Source: [Swagger {{ spec.swagger }}]

