if specURL.indexOf('any-api.com/models') !== -1
  a(target="_blank"
    href="#{specURL.replace('any-api.com/models', 'raw.githubusercontent.com/APIs-guru/api-models/master')}/swagger.json")
    span Source: [Swagger {{ spec.swagger }}]
else
  a(href="#{specURL}" target="_blank")
    span Source: [Swagger {{ spec.swagger }}]

