include ./mixins/sidebar.jade

mixin schema-example
  div(ng-if="schemaExample.length < MAX_HIGHLIGHT_LEN"
      hljs source="schemaExample")
  div(ng-if="schemaExample.length >= MAX_HIGHLIGHT_LEN")
    pre
      code {{ schemaExample }}

.row.docs-row
  .hidden-xs.col-sm-3.sidebar-col
    +sidebar(false)
  .col-xs-12.col-sm-9.docs-col
    div(ng-controller="Route"
        ng-repeat="route in routesFiltered")

      .row.bg-primary.tag-header(ng-show="tag" ng-class="{'tag-header-first': $first}" data-tag="{{tag.name}}")
        .col-xs-12
          h1.text-regular.tag-name(ng-bind="tag.name")
          div(ng-show="tag.description" marked="tag.description")

      .row.scroll-route.scroll-target(ng-class="{'scroll-route-last': $last}" id="ScrollTarget{{$index}}")
        a(name="route{{$index}}")
        include ./includes/operation-docs
script.
  $('.docs-col').last().scroll(function() {
    var scope = $('.docs-row .sidebar').scope();
    scope.onScroll();
    scope.$apply();
  })

