mixin navitem(name)
  li(ng-class="{active: activePage === '#{name.toLowerCase()}'}")
    a.navlink.text-capitalize(ng-click="activePage = '#{name.toLowerCase()}'") #{name}

doctype html
html
  head
    title API Console
    include ./includes/head.jade

    script.
      var SPEC_URL = !{JSON.stringify(specURL)};

  body(ng-app="App" ng-cloak)
    #Body(ng-controller="Body")
      #SpecURL(ng-controller="SpecURL")
        .alert.alert-danger(ng-if="alert.danger") {{ alert.danger }}
        if !specURL
          include ./includes/spec-url.jade
      #Portal(ng-if="spec" ng-init="activePage = 'console'" ng-controller="Portal")
        nav.navbar.navbar-secondary.navbar-inverse.square
          .container-fluid
            ul.nav.navbar-nav.nav-pills
              li
                a.api-title {{ spec.info.title }} {{ spec.info.title.indexOf('API') === -1 ? 'API' : '' }}
              li
                include ./includes/specURL.jade
            .navbar-collapse
              ul.nav.navbar-nav.nav-pills.navbar-right
                +navitem('README')
                +navitem('Console')
                +navitem('Docs')
        .container-fluid(ng-cloak)
          .portal-page(ng-if="activePage === 'readme'")
            include ./readme.jade
          .portal-page(ng-if="activePage === 'console'")
            include ./console.jade
          .portal-page(ng-if="activePage === 'recipes'")
            include ./recipes.jade
          .portal-page(ng-if="activePage === 'docs'")
            include ./documentation.jade
