mixin navitem(name)
  li(ng-class="{active: activePage === '#{name.toLowerCase()}'}")
    a.navlink.text-capitalize(ng-click="activePage = '#{name.toLowerCase()}'") #{name}

doctype html
html
  head
    title API Console
    include ./includes/head.jade

  body(ng-app="App" ng-cloak)
    #Body(ng-controller="Body")
      #Portal(ng-controller="Portal" ng-init="activePage = 'console'" ng-show="spec")
        #nav.navbar.navbar-secondary.navbar-inverse.square
          .container-fluid
            ul.nav.navbar-nav.nav-pills
              li
                if isAnyAPI
                  a.api-title(href="https://any-api.com" target="_parent")
                    span Any
                    span.fa.fa-bolt
                    span API -&nbsp;
                    span {{ spec.info.title }}
                else
                  a.no-click.api-title(
                    ng-bind-template="{{ spec.info.title }} {{ spec.info.title.toUpperCase().indexOf('API') === -1 ? 'API' : '' }}")
              li
                include ./includes/spec-link.jade
            .navbar-collapse
              ul.nav.navbar-nav.nav-pills.navbar-right
                +navitem('Documentation')
                +navitem('Console')
        .container-fluid(ng-if="spec")
          .portal-page(ng-if="activePage === 'console'")
            include ./console.jade
          .portal-page(ng-if="activePage === 'recipes'")
            include ./recipes.jade
          .portal-page(ng-if="activePage === 'documentation'")
            include ./documentation.jade

