mixin navitem(name)
  li(ng-class="{active: activePage === '#{name.toLowerCase()}'}")
    a.navlink.text-capitalize(ng-click="openPage('#{name.toLowerCase()}')") #{name}

doctype html
html
  head
    title API Console
    include ./includes/head.jade
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,200,300,700,600')

  body(ng-app="App")
    #Body(ng-controller="Body")
      #Portal(ng-controller="Portal")
        #nav.navbar.navbar-secondary.navbar-inverse.square
          .container-fluid
            ul.nav.navbar-nav.nav-pills
              li(ng-show="spec")
                if isAnyAPI
                  a.api-title(href="https://any-api.com" target="_parent")
                    span Any
                    span.fa.fa-bolt
                    span API -&nbsp;
                    span {{ spec.info.title }}
                else
                  a.no-click.api-title(
                    ng-bind-template="{{ spec.info.title }} {{ spec.info.title.toUpperCase().indexOf('API') === -1 ? 'API' : '' }}")
              li
                include ./includes/spec-link.jade
            .navbar-collapse
              ul.nav.navbar-nav.nav-pills.navbar-right
                +navitem('Documentation')
                +navitem('Console')
        .container-fluid(ng-if="!spec")
          .row.spec-loading
            .col-md-4.col-md-offset-4.text-center
              i.fa.fa-spin.fa-spinner
        .container-fluid.ng-cloak(ng-if="spec")
          div(ng-if="oauthDefinition")
            include ./oauth2-modal.jade
          #Console.portal-page(ng-controller="Console")
            div(ng-if="activePage === 'console'")
              include ./console.jade
          #Recipes.portal-page
            div(ng-show="activePage === 'recipes'")
              include ./recipes.jade
          #Docs.portal-page(ng-controller="Docs")
            div(ng-show="activePage === 'documentation'")
              include ./documentation.jade

