#README.row.scroll-target(ng-if="spec.info['x-lucy/readme'] || spec.info.description")
  .col-xs-12
    img.logo(ng-show="spec.info['x-logo']"
             ng-src="{{ spec.info['x-logo'].url || spec.info['x-logo'] }}"
             style="padding: 5px; background-color: {{ spec.info['x-logo'].backgroundColor || '#fff' }}")
    div.markdown-container(marked="spec.info['x-lucy/readme'] || spec.info.description")
