.fa.spin-fix {
  height: 18px;
  width: 16px;
}

.below-spec-row {
  padding-top: 20px;
}

.dropdown .btn.route-dropdown-btn {
  border-width: 3px;
}

.btn.copy-btn {
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
}

.copy-btn-container {
  display: block;
  position: relative;
}

.visual-tag {
  background-color: #c67bb1;
  color: #ffffff;

  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;

  margin-top: -3px;
  margin-left: 10px;
  border-radius: 4px;
}

.parameter-list {
  max-height: 338px;

  /*  mimic pre */
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f5f5f5;
  padding: 9.5px;
}

.parameter-list input[type="radio"],
.parameter-list input[type="checkbox"] {
  position: relative;
  margin-right: 5px;
}

.language-buttons .btn[disabled] {
  background-color: #eee;
  opacity: 1;
}

.language-buttons .btn {
  border-color: #ccc;
  border-bottom: none;
}

#SampleCode pre {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.btn-group.output-type-btn-group {
  float: right;
}

@media (max-width: 768px) {
  .btn-group.output-type-btn-group {
    float: left;
  }
}

.response-container > * > pre,
.response-container > * {
  border-radius: 0px;
}

@media (min-height: 400px) and (max-height: 499px) {
  .response-container .response-frame {
    min-height: 400px;
  }
}

@media (min-height: 500px) and (max-height: 599px) {
  .response-container .response-frame {
    min-height: 500px;
  }
}

@media (min-height: 600px) and (max-height: 699px) {
  .response-container .response-frame {
    min-height: 600px;
  }
}

@media (min-height: 700px) and (max-height: 799px) {
  .response-container .response-frame {
    min-height: 700px;
  }
}

@media (min-height: 800px) and (max-height: 899px) {
  .response-container .response-frame {
    min-height: 800px;
  }
}

@media (min-height: 900px) and (max-height: 999px) {
  .response-container .response-frame {
    min-height: 900px;
  }
}

@media (min-height: 1000px) {
  .response-container .response-frame {
    min-height: 1000px;
  }
}

.response-container pre,
.response-container iframe {
  border: 3px solid #333;
  border-radius: 4px;
}

.response-container .btn {
  border-width: 3px;
  border-color: transparent;
}
