span[data-verb] {
  color: #777;
  display: inline-block;
  text-align: left;
  margin-right: 10px;
}

panel-heading span[data-verb] {
  margin-left: 10px;
}

span[data-parameter-type] {
  color: #1F3A93;
}

span[data-parameter-in="header"],
span[data-verb="def"] {
  color: #34495e;
}

span[data-parameter-in="query"],
span[data-verb="get"] {
  color: #3498db;
}

span[data-response-code^="4"],
span[data-parameter-in="path"],
span[data-verb="put"] {
  color: #e67e22;
}

span[data-verb="patch"] {
  color: #f1c40f;
}

span[data-response-code^="2"],
span[data-parameter-in="body"],
span[data-parameter-in="formData"],
span[data-verb="post"] {
  color: #27ae60;
}

span[data-response-code^="5"],
span[data-verb="delete"] {
  color: #c0392b;
}

.open .btn-default[data-verb="def"],
.btn-default[data-verb="def"],
.panel-default[data-verb="def"] {
  border-color: #34495e;
}
.open .btn-default[data-verb="get"],
.btn-default[data-verb="get"],
.panel-default[data-verb="get"] {
  border-color: #3498db;
}
.open .btn-default[data-verb="put"],
.btn-default[data-verb="put"],
.panel-default[data-verb="put"] {
  border-color: #e67e22;
}
.open .btn-default[data-verb="patch"],
.btn-default[data-verb="patch"],
.panel-default[data-verb="patch"] {
  border-color: #f1c40f;
}
.open .btn-default[data-verb="post"],
.btn-default[data-verb="post"],
.panel-default[data-verb="post"] {
  border-color: #27ae60;
}
.open .btn-default[data-verb="delete"],
.btn-default[data-verb="delete"],
.panel-default[data-verb="delete"] {
  border-color: #c0392b;
}


