body {
  background-color: #edb88b;
}

.heading {
  margin-bottom: 40px;
  height: 100px;
}

@media (max-width: 991px) {
  .heading {
    height: 180px;
  }
}

.heading .gallery-title {
  font-size: 24px;
  margin-left: 15px;
}

.heading img.gallery-logo {
  height: 80px;
}

.heading .gallery-info {
  margin-top: 10px;
}

.heading .list-controls {
  margin-top: 30px;
}

.apis {
  margin-bottom: 80px;
  min-height: 500px;
}

.tag-dropdown {
  min-width: 120px;
}

.panel {
  background-color: #336e7b;
  border: none;
}

.bg-white {
  background-color: #fff;
}

hr.no-margin-bottom {
  margin-bottom: 0px;
}

.xs-view-logo {
  padding-top: 15px;
  padding-bottom: 15px;
}

.xs-view-title,
.list-view-title {
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-view {
  padding-left: 15px;
  padding-right: 15px;
}

.list-view-item {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-radius: 4px;
  background-color: #fff;
}

.list-view-description {
  padding-right: 30px;
}

.panel {
  margin-bottom: 24px;
  border-radius: 4px;
}

.link-fill-parent {
  position: relative;
}

a.link-fill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.panel-heading {
  color: #fff;
}

.panel-title {
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  text-align: center;
}

.panel-body {
  font-family: 'Roboto Mono', monospace;
  min-height: 200px;
  background-color: #fff;
  color: #253237;
}

.panel-body .panel-body-logo {
  height: 150px;
  padding: 40px;
  line-height: 90px;
}

.panel-body .panel-body-description {
  min-height: 68px;
  max-height: 68px;
  overflow: hidden;
  text-overflow: ellipsis;
}

img.api-logo {
  max-height: 100%;
  max-width: 100%;
  padding: 5px;
}

img.api-list-logo {
  max-width: 50%;
  max-height: 60px;
  padding: 5px;
}

.panel-footer {
  font-size: 20px;
  color: #fff;
  background-color: #336E7B;
}

.panel-footer p {
  margin-bottom: 0px;
}

.panel-footer .fa-thumbs-up {
  margin-left: 20px;
  cursor: pointer;
}

.fa-thumbs-up.voted {
  color: #2ecc71;
}

.fa-thumbs-down.voted {
  color: red;
}
