body {
  background-color: #f7f7f7;
}

.navbar.navbar-secondary {
  margin-bottom: 0;
  z-index: 100;
}

.navbar.navbar-secondary a {
  cursor: pointer;
}

#README {
  padding-top: 20px;
}

.fa-bolt {
  color: #df691a;
}

.navbar-secondary .api-title {
  color: #FFF !important;
  font-weight: 600;
  font-size: 20px;
}

a.no-click {
  cursor: default;
}

.navbar-secondary .action-link {
  color: #FFF !important;
  text-transform: capitalize;
}

.collapse-icon::before {
  content: "\f147" !important;
}
.collapsed .collapse-icon::before {
  content: "\f196" !important;
}

.dropdown .btn.tag-dropdown-btn,
.dropdown .btn.route-dropdown-btn {
  border-width: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.panel-heading {
  cursor: pointer;
}

#Footer {
  margin-top: 50px;
}

span.pull-right {
  line-height: 20px;
}
