.docs-row {
  background-color: #333;
}

.sidebar-col {
  padding-top: 30px;
  padding-bottom: 100px;
  position: relative;
}

.sidebar .method-text {
  min-width: 50px;
}

.sidebar li.route-link a {
  color: #86E2D5;
}

@media (min-width: 768px) {
  .docs-row {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  .sidebar-col, .docs-col {
    position: fixed !important;
    top: 52px;
    bottom: 0px;
    margin-top: 0;
    overflow-y: scroll;
  }
}

.sidebar ul {
  list-style-type: none;
}

.sidebar ul > li > ul {
  padding-left: 10px;
  padding-bottom: 10px;
}
.sidebar ul > li > ul > li > ul {
  padding-left: 20px;
}

.sidebar ul > li {
  border-radius: 4px;
}
.sidebar  ul > li > ul > li {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.sidebar li {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  max-height: 40px;
  -webkit-transition: max-height 1s ease-in;
  -moz-transition: max-height 1s ease-in;
  -ms-transition: max-height 1s ease-in;
  -o-transition: max-height 1s ease-in;
  transition: max-height 1s ease-in;
}

.sidebar li.scrolled-parent {
  max-height: 10000px;
}

.sidebar ul > li {
  background-color: #333;
}

.sidebar ul.nav > li.scrolled-parent > a:hover,
.sidebar ul.nav > li.scrolled-item > a:hover,
.sidebar ul.nav > li.scrolled-parent,
.sidebar ul.nav > li.scrolled-item {
  background-color: #111;
}

.sidebar ul > li > ul > li {
  background-color: #111;
}

.sidebar ul > li > ul > li > ul > li.scrolled-item > a:hover,
.sidebar ul > li > ul > li > ul > li.scrolled-item,
.sidebar ul > li > ul > li.scrolled-item > a:hover,
.sidebar ul > li > ul > li.scrolled-item {
  background-color: #333;
}

.sidebar ul.nav > ul > li a:hover,
.sidebar ul.nav > li a:hover {
  background-color: #444;
}

.sidebar a {
  color: #86E2D5;
  font-weight: 200;
}

.sidebar a.btn {
  color: #fff;
}

.sidebar li.menu-readme a {
  color: #eee;
}

.sidebar .method-text,
.sidebar .menu-readme a {
  font-weight: 500;
  margin-bottom: 5px;
}

.docs-col {
  overflow-y: scroll;
  background-color: #fff;
  right: 0;
}


