.navbar.navbar-inverse .nav > li > a:hover {
  color: #eee;
}

.sidebar-col {
  background-color: #ddd;
}

.sidebar ul > li {
  background-color: #555;
  margin-bottom: 12px;
}

.sidebar ul > li > a {
  color: #ff6600;
}

.control-row .btn-default {
  background-color: #fff;
  color: #333;
}

.control-row {
  background-color: #eee;
  padding-top: 26px;
  border: none;
}

.control-row .btn {
  height: 40px;
  font-size: 15px;
  padding: 8px;
}
